<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<title>Home</title>
<!-- CSS -->

</head>
    <style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 108px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>

  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">

     

      <a class="navbar-brand mr-4" href="/">Diagneasy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/cancer">Cancer</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
          <a class="nav-item nav-link" href="/kidney">Kidney</a>
          <a class="nav-item nav-link" href="/Malaria">Malaria</a>
          <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>
		  <a class="nav-item nav-link" href="/Brain_Tumor">Brain_Tumor</a>
          <a class="nav-item nav-link" href="/Eye_Disease">Eye_Disease</a>
		  <a class="nav-item nav-link" href="/transcription_classifier">Transcription Classifier</a>
        </div>
        <!-- Navbar Right Side 
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
      </div>
    </div>
  </nav>
</header>

  <div class= "container">

     <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
  </div>

    <h3>Hi! </h3>
    <p>Welcome to Diagneasy. A web app demonstrates the use cases of Machine Learning, Deep Learning and NLP in the field of Heathcare</p>
    <p>We have multiple modules developed using ML and DL techniques to diagnosis the patient given the relevent health metrics
      <h3>Overview</h3>
      Machine Learning (ML) and Deep Learning (DL) are revolutionizing healthcare. ML algorithms analyze vast patient data to predict disease risks, aid in early diagnosis, and personalize treatment plans. DL, a subset of ML, excels in image and speech recognition, enhancing medical imaging interpretation, including X-rays and MRIs, and enabling voice-based diagnostics. These technologies streamline administrative tasks, optimize hospital operations, and improve drug discovery. Additionally, ML and DL facilitate remote patient monitoring, making telemedicine more effective. While offering tremendous potential, their implementation also necessitates addressing privacy and ethical concerns to ensure responsible and secure healthcare advancements.<p>
        <p>This application includes the below modules, Check them out</p>
        <hr>
    </p>
    <ul>
      <li>Cancer Predictor</li>
      <li>Diabetes Predictor</li>
      <li>Heart Disease Predicotor</li>
      <li>Liver Disease Predicotor</li>
	  <li>Kidney Disease Predicotor</li>
      <li>Malaria Predicotor</li>
      <li>PNEUMONIA Predicotor</li>
      <li>Brain Tumor Predicotor</li>
	  <li>Eye Disease Predicotor</li>
    </ul>
    <h2>Creator :</h2>
    <p>Rahul Rangu</p>
	<a href="https://github.com/rahulrangu1202/Diagneasy"> Github </a>
	<a href="https://www.linkedin.com/in/rahulrangu1202/"> LinkedIn </a> 


  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<footer id="main-footer">
      Copyright &copy; 2023
    </footer>
</body>
</html>
